<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style/bootstrap.3_3_7.css">
    <link rel="stylesheet" href="../style/main.css">
    <meta charset="utf-8">
</head>

<body>
    <header class="col-ms-12">
        <ul>
            <li><a class="btn btn-primary" id="add">Add Project</a></li>
        </ul>
    </header>
    <div id="projects"> </div>
    <script src="../script/gui.js"></script>
    <script src="../script/main.js"></script>
    <script src="../script/list.js"></script>
    <script src="../script/check.js"></script>
    <script src="../script/panel.js"></script>
    <script>
        update();

    </script>
</body>

</html>
